@model Signal.ViewModels.ApplicationUserViewModel

<div class="col-lg-12">
    <h3 style="color:#1d7a1c">Hi, @Model.FirstName</h3>
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#add-admin">Add Admin</button>
    <button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#remove-admin">Remove Admin</button>
    <a type="button" class="btn btn-lg btn-warning" href="/">Messages</a>
</div>
